<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="../styles/style.css">
    <style>
   
    </style>
</head>
<body>
<h1 class="jumbotron">Star Wars Application</h1>
<h3 id="characterNum"></h3>
<div id="savedCharacters"></div>

    <input class="form-control" id="stName" type="text"><br>
    <div class="buttonContainer">
    <button onclick = "swSearch()" class="btn btn-primary">Search Star Wars Database</button>
    <a class="btn btn-primary" onclick="getData()">View Saved Characters</a>
    </div>
<h3>Your search results will appear below: </h3>
<p id="info"></p>
</body>
<script src="../scripts/js.js"></script>
</html>